html {
	-webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    height: 100%;
    background-color: #f1f1f1;
}

body {
    margin: auto;
    margin-top: 50px;
    text-align: center;
    width: 900px;
    height: 800px;
    border: solid #D1D1D1 1px;
    border-radius: 3px;
    padding: 10px 20px;
    box-shadow: 0 0 2px 2px #E8E8E8;
    background-color: white;
}

header {
    border-radius: 2px;
	display: block;
	width: 100%;
	background: #f1a899;
	height: 80px;
	color: #232323;
}

header > h2 { padding: 1em; }


footer {
   align:center;
   text-align: center;
   font-size: small;
   color: gray;
   margin: 5px auto;
}

user {
    float: right;
    padding: 10px;
    color: #333333;
    position: absolute;
    display: block;
    z-index: 9999;
    width: 880px;
    text-align: right;
}

#content {
    height: 80%;
    text-align: left;
    position: relative;
}

#tabs { padding: 3em 1em; height: 100%; }

div.tab {
    border: 1px solid #F36C5A !important;
    border-radius: 2px;
    height: 70%;
}

input {
    outline: none;
    border: lightgray solid 1px;
    border-radius: 1px;
    width: 80%;
    margin: 3px 0;
    height: 29px;
    padding: 0.2em 2.1em 0.2em 1em;
    float: none;
}

input:focus { border: #8690c1 solid 1px; }

input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
}

input[type=submit] {
    width: 100px;
    height: 32px;
    margin: 2px 3px 5px 5px;
}

.login_container {
    border: 1px solid #F36C5A !important;
    border-radius: 2px;
    height: 70%;
    padding: 2em;
    margin: 1.2em .8em 0 .8em;
    position: relative;
}

.tab > form, .tab > p {
	width: 362px;
    margin: 2em auto;
}

.tab > p { float: none; clear: both; margin-top: 5em; }
.tab > form > table { margin-bottom: 1em; width: 358px;}
.tab > form > input { float: right; }

ul.errorlist {
    list-style-type: none;
    font-size: small;
    color: red;
}

.g-signin2 > div {
    box-shadow: 0 0 0;
}
.g-signin2 {
    margin: auto;
    width: 120px;
    border: solid 1px lightgray;
    border-radius: 3px;
}