{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="google-signin-client_id" content="508086297696-t75vsg5vugl5u6q4pds7mfu9joe9bekj.apps.googleusercontent.com">
        <title>EasyStore{% block title %}{% endblock %}</title>
        <link rel="stylesheet" id="ample-style-css" href="{% static 'css/normalize.css' %}" type="text/css" media="all">
        <link rel="stylesheet" id="ample-style-css" href="{% static 'css/style.css' %}" type="text/css" media="all">
        <link rel="stylesheet" id="ample-style-css" href="{% static 'css/jquery-ui.css' %}" type="text/css" media="all">
        <link rel="stylesheet" type="text/css" href="{% static 'css/jquery.dataTables.css' %}">
        <script src="{% static 'js/jquery.js' %}"></script>
        <script src="https://apis.google.com/js/platform.js" async defer></script>
        <script type="text/javascript" charset="utf8" src="{% static 'js/jquery.dataTables.js' %}"></script>
    </head>
    <body>
        <header>
            <h2>EasyStore</h2>
        </header>
        {% if user.is_authenticated %}
            <user>Welcome{% if user.is_superuser %} Admin{% endif %},
                    <strong>{{ user.get_full_name }}</strong> - <a href="{% url 'logout' %}">Logout</a>
            </user>
        {% else %}
            <user>Welcome, Guest. <a href="{% url 'login' %}">Login</a></user>
        {% endif %}
        <div id="content">
        {% block main_content %}
        {% endblock %}
        </div>
    <script src="{% static 'js/jquery-ui.js' %}"></script>
    <script  type="text/javascript">
    $(document).ready(function(){
        $('#tabs').tabs({
            create: function() {
                $(this).removeClass('ui-widget ui-widget-content ');
                $(this).find('section').removeClass('ui-tabs-panel ui-widget-content ui-corner-bottom');
                $(this).find('ul').removeClass('ui-widget-header');
            }
        });
        $('input[type=submit]').button();
    });
    </script>
    <footer>
        <p> EasyStore <strong>|</strong> CMPE 281 Project 1 <strong>|</strong> by Parvizsho Aminov ver 1.0 </p>
    </footer>
    </body>
</html>
