{% extends 'base.html' %}
{% block title %} | Login{% endblock title %}
{% block main_content %}
<div id="tabs">
   <ul>
        <li><a href="#login">Login</a></li>
    </ul>
    <div id="login" class='tab'>
        <form method='post' class="form">
            {% csrf_token %}
            <table class="table">
            {{ form.as_table }}
            </table>
            <input type='submit' value='Login' />
        </form>
        <p>Don't have an account? <a href="{% url 'register' %}">Click here</a> to register.</p>
        <div class="g-signin2" data-onsuccess="onSignIn"></div>
    </div>
</div>


{% endblock %}
